.navbar {
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  
}




.form {
  /* margin-top: 50px; */
  margin: 100px;
  padding: 1px;
}
.form_segment {
  background-color: black;
}

/* .thank/ */
.btn_great {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 500px;
}
